# Nuxt dev/build outputs
.nuxt
.output
dist
.vercel
.netlify
.cloudflare
.nitro

# Environment variables
.env
.env.*
!.env.example
!.env.test

# Dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Nuxt Cache
.eslintcache
.stylelintcache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
