@layer primevue, tailwind-utilities, tailwind-base, primevue;

  
body{
  @apply bg-background text-primary-text;
  font-family: 'Tektur', sans-serif !important;
}

:root{
  font-family: 'Tektur', sans-serif !important;
}

.underlineAnimation{
  position: relative;
  text-decoration: none;
}

.underlineAnimation::before {
  @apply bg-primary;
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.underlineAnimation:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
